node_modules/
.expo/
web-build/
dist/_expo/
dist/assets/
dist/metadata.json
dist/bundles/
ios/
android/
attached_assets/
*.log
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
