modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["stripe:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:admin"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "server:admin"]
build = ["npm", "run", "build:web"]

[userenv]

[userenv.shared]
ADMIN_API_PORT = "5000"
EXPO_PUBLIC_API_KEY = "hsim_fe20b92f2662c9f4477fd5d33d7b378c91db8f185e43e7b7"

[userenv.development]
DISABLE_MAINTENANCE_MODE = "true"
SIMULATION_API_KEY = "hsim_fe20b92f2662c9f4477fd5d33d7b378c91db8f185e43e7b7"
